<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- spring扫描该包下所有类 -->
	<context:component-scan base-package="com.autonavi.tinfo" >
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>

	<bean id="server" class="org.xlightweb.server.HttpServer" scope="singleton"
		  init-method="start" destroy-method="close">
		<constructor-arg value="8081" />
		<constructor-arg ref="context" />
		<property name="maxConcurrentConnections" value="10000" />
	</bean>

	<bean id="context" class="org.xlightweb.Context" scope="prototype">
		<constructor-arg value="/TrafficService" />
		<constructor-arg>
			<map>
				<entry key="/xlight">
					<ref bean="xlightHandler" />
				</entry>
			</map>
		</constructor-arg>
	</bean>

	<bean id="xlightHandler" class="com.autonavi.tinfo.XlightWebHandler" scope="prototype">
	</bean>
</beans>
